/* color picker */

#colorPickerWrapper {
	width:720px;
	height:auto;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
}
#colorPicker {
	background:#fff;
	margin:0;
	padding:5px 0 0 15px;
	width:314px;
	border:1px solid #cecece;
	float:left;
	overflow:hidden;
}
#colorPicker h2 {
	font-size:100%;
	font-weight:bold;
	margin:10px 0 5px 0;
	padding:0;
	text-transform:uppercase;
}
#colorPicker h2 em {
	font-style:italic;
	font-weight:bold;
}
#colorPicker p.commentary {
	font-size:93%;
}
#cp1_ColorMap {
	border:2px inset #e3e3e3;
}
#cp1_ColorBar {
	border:2px inset #e3e3e3;
}
#cp1_Preview {
	background:#fff;
	border:1px inset #e3e3e3;
	height:60px;
	margin:0;
	padding:0;
	width:60px;
}
/* color picker form */

#colorPicker .colorSelectors, #colorPicker .colorValues {
	float:left;
	clear:left;
	overflow:hidden;
	width:314px;
}
#colorPicker .colorSelectors {
	padding-top:15px;
}
#colorPicker .colorValues {
	padding-top:25px;
}
#colorPicker #cp1_Preview {
	margin:0 0 32px 0;
}
/*
#colorPicker .colorValues p,
#colorPicker .colorSelectors p {
	overflow:hidden;
	margin:0 0 .62em 0;
	width:300px;
}
*/
#colorPicker .colorValues p label, #colorPicker .colorSelectors p label {
	text-transform:uppercase;
	font-weight:bold;
}
#colorPicker .colorValues p input, #colorPicker .colorSelectors p input {
	overflow:hidden;
	padding:2px;
	border:1px solid #cecece;
	font-weight:bold;
}
/*
#colorPicker .colorSelectors p label input {
	padding:0;
	width:auto;	
}
#colorPicker .colorSelectors p.hex label input {
	padding:2px;
	width:53px;	
}
*/
#colorPicker .colorValues p.csLeft, #colorPicker .colorSelectors p.csLeft {
	overflow:hidden;
	margin:0 0 .62em 0;
	padding:.3em 0 0 0;
	width:165px;
	height:1.5em;
	float:left;
	clear:left;
}
#colorPicker .colorValues p.csLeft input, #colorPicker .colorSelectors p.csLeft input {
	float:left;
}
#colorPicker .colorValues p.csLeft label, #colorPicker .colorSelectors p.csLeft label {
	width:140px;
	float:right;
}
#colorPicker .colorValues p.csRight, #colorPicker .colorSelectors p.csRight {
	overflow:hidden;
	margin:0 0 .62em 0;
	width:134px;
	height:1.8em;
	float:left;
}
#colorPicker .colorValues p.csRight input, #colorPicker .colorSelectors p.csRight input {
	width:75px;
}
#colorPicker .colorSelectors p.hex input {
}
#colorPickerWrapper #pointerArrow {
	background:url(img/products/bg-locator-pointer-rt.png) left top no-repeat;
	width:12px;
	height:42px;
	position:absolute;
	top:0;
	left:330px;
}